<%- include ./partials/header.ejs %>
	<main class="columns">
		<section class="column is-8">
			<h2>Directory</h2>
				<% for(var counter=0;counter<directory.length;counter++){ %>
					<a href="/directory/<%= directory[counter]._id %>">
						<section>
							<h3><%= directory[counter].businessName %></h3>
							<address><%= directory[counter].businessAddress %></address>
						</section>
					</a>
				<% } %>
		</section>
		<section call="column is-4">
			
		</section>
	</main>
<%- include ./partials/footer.ejs %>
